body {
    margin: 0px;
    padding: 0px;
    background-color: #ffa601;
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  
  body input, body h1, body h2, body h3, body a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }
  .cd__main,
  #app {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/locals/images/bg.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    background-color: #2d3240 !important;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
  }
  #app #menu-toggle {
    background-color: white;
    border: none;
    border-radius: 8vh;
    bottom: 0px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    height: 8vh;
    left: 0px;
    margin: 2vh;
    position: fixed;
    width: 8vh;
    z-index: 3;
  }
  #app #menu-toggle:hover {
    background-color: #f0f0f0;
  }
  #app #menu-toggle i {
    color: #64b5f6;
    font-size: 2vh;
    height: 3vh;
    line-height: 3vh;
    text-align: center;
    width: 3vh;
  }
  #app #menu {
    height: 100vh;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity 250ms, transform 250ms;
    transition-delay: 300ms;
    width: 40vh;
  }
  #app #menu.toggled {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: 0ms;
  }
  #app #menu.toggled #menu-quick-options .menu-quick-option {
    opacity: 1;
    transform: translateX(0%);
  }
  #app #menu.toggled #menu-quick-options .menu-quick-option:first-of-type, #app #menu.toggled #menu-quick-options .menu-quick-option:last-of-type {
    transform: translateX(-50%);
  }
  #app #menu.toggled #menu-full-options .menu-full-option {
    opacity: 1;
    transform: translateX(-0.5vh);
  }
  #app #menu.toggled #menu-full-options .menu-full-option:first-of-type, #app #menu.toggled #menu-full-options .menu-full-option:last-of-type {
    transform: translateX(-4vh);
  }
  #app #menu.toggled #menu-full-options .menu-full-option:nth-of-type(2), #app #menu.toggled #menu-full-options .menu-full-option:nth-of-type(4) {
    transform: translateX(-2vh);
  }
  #app #menu.toggled #menu-background-wrapper #menu-background:before {
    transform: translate(-50%, -50%);
    transition-delay: 200ms;
  }
  #app #menu #menu-background-wrapper {
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 40vh;
    z-index: 1;
  }
  #app #menu #menu-background-wrapper #menu-background {
    background-color: #64b5f6;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
    height: 200vh;
    position: absolute;
    right: 0px;
    top: -50vh;
    width: 200vh;
  }
  #app #menu #menu-background-wrapper #menu-background:before {
    background-color: rgba(100, 181, 246, 0.05);
    border: 1px solid rgba(100, 181, 246, 0.2);
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    content: "";
    height: 120%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: transform 250ms;
    width: 120%;
    z-index: -1;
  }
  #app #menu #menu-profile-image {
    border-radius: 500px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
    display: block;
    height: 40vh;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
    z-index: 2;
  }
  #app #menu #menu-quick-options {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
    width: 20vh;
    z-index: 3;
  }
  #app #menu #menu-quick-options .menu-quick-option {
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 8vh;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: flex;
    height: 8vh;
    justify-content: center;
    opacity: 0;
    padding: 0px;
    text-decoration: none;
    transform: translateX(-30%) scale(0.25);
    transition: opacity 150ms, transform 150ms;
    width: 8vh;
  }
  #app #menu #menu-quick-options .menu-quick-option:hover {
    background-color: #f0f0f0;
  }
  #app #menu #menu-quick-options .menu-quick-option:hover .tooltip {
    opacity: 1;
    transform: translateX(100%);
  }
  #app #menu #menu-quick-options .menu-quick-option:first-of-type {
    transform: translate(-80%, 30%) scale(0.5);
  }
  #app #menu #menu-quick-options .menu-quick-option:last-of-type {
    transform: translate(-80%, -30%) scale(0.5);
  }
  #app #menu #menu-quick-options .menu-quick-option i {
    color: #64b5f6;
    font-size: 2vh;
    height: 3vh;
    line-height: 3vh;
    text-align: center;
    width: 3vh;
  }
  #app #menu #menu-quick-options .menu-quick-option .tooltip {
    background-color: #1e1e1e;
    border-radius: 0.5vh;
    box-shadow: 0px 0px 1vh 0.25vh rgba(0, 0, 0, 0.08);
    color: white;
    font-size: 1em;
    opacity: 0;
    padding: 1vh;
    pointer-events: none;
    position: absolute;
    right: -1vh;
    transform: translateX(90%);
    transition: opacity 250ms, transform 250ms;
  }
  #app #menu #menu-full-options {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    left: 44vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20vh;
    z-index: 2;
  }
  #app #menu #menu-full-options .menu-full-option {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    display: flex;
    gap: 1vh;
    opacity: 0;
    padding: 1vh;
    text-decoration: none;
    transform: translateX(-2vh);
    transition: opacity 150ms, transform 150ms;
  }
  #app #menu #menu-full-options .menu-full-option:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  #app #menu #menu-full-options .menu-full-option:first-of-type, #app #menu #menu-full-options .menu-full-option:last-of-type {
    transform: translateX(-6vh);
  }
  #app #menu #menu-full-options .menu-full-option:nth-of-type(2), #app #menu #menu-full-options .menu-full-option:nth-of-type(4) {
    transform: translateX(-4vh);
  }
  #app #menu #menu-full-options .menu-full-option i, #app #menu #menu-full-options .menu-full-option h3 {
    color: white;
    font-size: 1.5vh;
    height: 2vh;
    line-height: 2vh;
  }
  
  @media (max-width: 1200px) {
    #app #menu {
      width: 30vh;
    }
    #app #menu #menu-background-wrapper {
      width: 30vh;
    }
    #app #menu #menu-profile-image {
      height: 30vh;
      width: 30vh;
    }
    #app #menu #menu-quick-options {
      width: 15vh;
    }
    #app #menu #menu-full-options {
      left: 34vh;
    }
  }
  @media (max-width: 800px) {
    #app #menu {
      width: 25vh;
    }
    #app #menu #menu-background-wrapper {
      width: 25vh;
    }
    #app #menu #menu-profile-image {
      height: 25vh;
      width: 25vh;
    }
    #app #menu #menu-quick-options {
      width: 12.5vh;
    }
    #app #menu #menu-quick-options .menu-quick-option {
      height: 7vh;
      width: 7vh;
    }
    #app #menu #menu-full-options {
      left: 29vh;
    }
  }
  @media (prefers-reduced-motion) {
    #app #menu {
      transition: none;
    }
    #app #menu #menu-quick-options .menu-quick-option {
      transition: none;
    }
    #app #menu #menu-full-options .menu-full-option {
      transition: none;
    }
    #app #menu #menu-background-wrapper #menu-background:before {
      transition: none;
    }
  }




  *{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


ul{
    float: right;
    list-style-type: name;
    margin-top: 35px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px 30px 10px;
    border: 1px solid transparent;
    transition: color 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: #000;
}
/* 
ul li.active a{
    background-color: transparent;
    color: #fff;
} */

.logo {
    display: flex;
    align-items: right;
}

.logo img {
    max-width: 15%;
    height: auto;
    margin-top: auto;
    margin-right: auto;
}


.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}

.line{
    position: absolute;
    top: 52%;
    left: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.line h4{
    color: #fff;
    font-size: 20px;
}

#About {
    padding: 0px 100px;
    min-height: 100vh;
    font-size: 20px;
  }
  #About h1 {
    padding-top: 120px;
    font-size: 40px;
  }
  #About p{
      padding: 30px 0px;
  }

  .button {
    position: absolute;
    margin-right: auto;
    margin-top: auto;
    top: 75%; /* Adjusted to center vertically */
    left: 60%;
    transform: translate(-50%, -50%); /* Adjusted for centering */
    text-align: center; /* Center text within the container */
}

.btn {
    display: block; /* Set buttons as block elements */
    margin: 10px 0; /* Add margin between buttons */
    border: 1px solid #fff;
    padding: 15px 35px; /* Adjusted padding for a more balanced look */
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.btn:hover {
    background-color: white;
    color: #000;
}


/* arabic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nErXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EFD-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nMrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nFrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nDrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nErXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EFD-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nMrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nFrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nDrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
